In [ ]:
## Loading libraries to connect SQL with Jupyter

In [4]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\info\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\info\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\info\anaconda3\lib\site-packages (from ipython-sql) (1.4.27)
Requirement already satisfied: ipython>=1.0 in c:\users\info\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: jedi>=0.16 in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: colorama in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in c:\users\info\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\info\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\info\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\info\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=3e2e201a19ffdc5e0bc9a6025d2642196d9eb2a82a49b961be0ee1dfb5e4c7e1
  Stored in directory: c:\users\info\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=b4fbbdfa281e3b6a626ab1322e59ab048167ebc4e7ec113d45fb2b77118dbd7b
  Stored in directory: c:\users\info\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python-rf

Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py): started
  Building wheel for mysql-connector-python-rf (setup.py): finished with status 'done'
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp39-cp39-win_amd64.whl size=249467 sha256=4a6ca09a2827c60373a1546fdaa1e9306f98a7528cc5002fc0682e88eca534ee
  Stored in directory: c:\users\info\appdata\local\pip\cache\wheels\64\06\5b\ef9543936a3f5de15b02775b6ae548a09f3ed2319d20342771
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import sys

print(sys.path)

['C:\\Users\\info\\PycharmProjects\\ForGitHub\\Ecuador', 'C:\\Users\\info\\anaconda3\\python39.zip', 'C:\\Users\\info\\anaconda3\\DLLs', 'C:\\Users\\info\\anaconda3\\lib', 'C:\\Users\\info\\anaconda3', '', 'C:\\Users\\info\\AppData\\Roaming\\Python\\Python39\\site-packages', 'C:\\Users\\info\\anaconda3\\lib\\site-packages', 'C:\\Users\\info\\anaconda3\\lib\\site-packages\\locket-0.2.1-py3.9.egg', 'C:\\Users\\info\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\info\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\info\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\info\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\info\\.ipython']

In [11]:
df = pd.read_csv('C:\\Users\\info\\PycharmProjects\\ForGitHub\\Ecuador\\data\\cleaned.csv')

In [12]:
df.tail(5)

,id,date,store_nbr,family,sales,onpromotion,dcoilwtico,city,store_type,cluster,holiday_type,locale,locale_name,description,transferred
10489,10489,2013-01-06,52,POULTRY,0.0,0,NaN,Manta,A,11,NaN,NaN,NaN,NaN,NaN
10490,10490,2013-01-06,52,PREPARED FOODS,0.0,0,NaN,Manta,A,11,NaN,NaN,NaN,NaN,NaN
10491,10491,2013-01-06,52,PRODUCE,0.0,0,NaN,Manta,A,11,NaN,NaN,NaN,NaN,NaN
10492,10492,2013-01-06,52,SCHOOL AND OFFICE SUPPLIES,0.0,0,NaN,Manta,A,11,NaN,NaN,NaN,NaN,NaN
10493,10493,2013-01-06,52,SEAFOOD,0.0,0,NaN,Manta,A,11,NaN,NaN,NU,NaN,NaN

In [9]:
df.type.unique()

array(['Holiday', nan, 'Work Day'], dtype=object)